:root {
  --background: #f9f9fb;

  --main-background: #fff;
  --main-border-color: #f1f1f1;

  --secondary-background: #f2f2f2;

  --link-color: #0e2f59;
  --link-color--active: #a4a4a4;

  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto);
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
 * Hack: not sure why but NavBar select causes
 */
.MuiBackdrop-root.MuiBackdrop-invisible,
.MuiPopover-root[aria-hidden="true"] {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--link-color);

  &.active {
    color: var(--link-color--active);
  }
}
